.header {
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: flex;
  align-items: center;
}
/* header-nav */

.header__nav {
  display: flex;
  min-width: 294px;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
  font-weight: 500;
  line-height: 1.17;
  list-style: none;
  letter-spacing: 0.02em;
}

.header__button {
  color: var(--logo-text-color);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-color-text);
  }
}

.header__nav-item:not(:first-child) {
  margin-left: 50px;
}
.header__nav-item {
  position: relative;
}
/* ----------------link-nav---------------*/

.header__link {
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  list-style: none;
  letter-spacing: 0.02em;
}
.header__link-item:last-child {
  margin-left: 50px;
}

.header__phone {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color-text);
  }
}

.header__mail {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color-text);
  }
}

.header__link-item {
  display: flex;
  align-items: center;
}

.header__link-icon {
  margin-right: 10px;
  width: 12px;
  height: 16px;
  fill: currentcolor;
}

.carent {
  color: var(--accent-color-text);
}
.carent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color-text);
  display: block;
  bottom: -32px;
}
